* {
  border: 0;
  margin: 0;
  font-family: "Muli"; }

.link > i {
  font-size: 26px; }

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative; }

html, body {
  width: 100%; }

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../splash.jpg); }

#splashCanvas {
  background: linear-gradient(to bottom, #080d28 0%, #261300 100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none; }

.splash {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.headerText {
  font-family: "Ovo";
  font-weight: bold; }

.splashText {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .splashText #name {
    font-size: 2.5em;
    font-weight: bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
 }
  .splashText #role {
    border-radius: 4px; }
  .splashText #name, .splashText .linkContainer {
    margin: 0 auto; }
  .splashText span {
    font-size: 1.4em;
    transition: all 0.2s;
    padding: 12px;
    background: #421c21;
    color: white; }
    .splashText span a {
      text-decoration: none; }
    .splashText span a:visited {
      color: white; }
  .splashText .linkContainer {
    margin-top: 36px;
    text-decoration: none;
    color: white; }
    .splashText .linkContainer a {
      display: block; }
  .splashText .linkContainer:hover {
    background: #662b33; }

.textSection {
  user-select: none;
  -moz-user-select: none;
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  color: white; }

main {
  z-index: 1;
  width: 98%;
  background: white;
  margin: 24px auto;
  border-radius: 4px; }

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  width: 100%; }
  .title .titleSep {
    width: 98%;
    height: 4px;
    border-radius: 4px;
    background: #421c21; }
  .title .titleText {
    padding: 12px;
    font-size: 1.5em;
    color: white;
    background: #421c21;
    border-radius: 4px;
    margin-top: -24px; }

.filterWrapper {
  margin: 20px auto; }
  .filterWrapper button {
    padding: 4px;
    background: #421c21;
    color: white;
    margin-right: 8px;
    border-radius: 4px;
    font-size: 1em; }

.cvRow {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  font-size: 1.4em; }

.linkRow .link, .cvRow .link {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #421c21;
  padding: 12px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  margin: 12px;
  transition: all 0.2s; }
  .linkRow .link:hover, .cvRow .link:hover {
    background: #662b33; }
  .linkRow .link::visited, .cvRow .link::visited {
    color: white; }

.linkRow {
  margin-top: 24px;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 100%; }

.typeWrapper {
  min-height: 200px;
  width: 96%;
  margin: 100px auto;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column; }
  .typeWrapper .typeTitle {
    font-size: 18px;
    align-self: center;
    color: white;
    background: #421c21;
    padding: 8px;
    border-radius: 4px;
    margin-top: -16px; }

.projectDisplay {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 24px 0px; }

.projectsWrapper {
  display: flex;
  flex-direction: column; }

.cardWrapper {
  background: #20131a;
  border-radius: 4px; }

.projectCard {
  background-position: center;
  background-size: cover;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 300px;
  padding: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: ease-in 0.22s;
  clip-path: circle(80% at 50% 20%); }
  .projectCard .projectHover {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .projectCard .projectHover div {
      color: white;
      text-align: center;
      margin-top: auto; }
  .projectCard:hover {
    transition: ease-in 0.20s;
    clip-path: circle(90% at 50% 50%) !important; }
    .projectCard:hover .projectHover {
      display: flex; }
    .projectCard:hover .projectTitle {
      display: none; }

.projectTitle {
  color: white;
  background: #20131a;
  padding: 4px;
  border-radius: 4px;
  transition: all 0.2s;
  font-size: 20px; }

.projectGrid {
  width: 90%;
  margin: 34px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.button-group {
  width: 90%;
  margin: 24px auto; }
  .button-group button {
    font-size: 16px;
    padding: 4px;
    background: #20131a;
    color: white;
    border-radius: 4px;
    margin-left: 4px;
    cursor: pointer;
    transition: all 0.2s; }
    .button-group button:hover {
      background: #503041; }

.projectType {
  background: #421c21;
  padding: 3px;
  margin-top: 50px; }

.projectFlavour {
  margin: auto auto; 
  padding: 12px;
  box-sizing: border-box;

}

.projectMore {
  margin-top: auto;
  margin-bottom: 24px;
  background: #421c21;
  padding: 3px;
  transition: all 0.3s; }
  .projectMore:hover {
    background: #54242a; }

.projectHover {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #20131a;
  color: white;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 0.2s;
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center; }

.gridItem {
  margin-right: 24px;
  margin: 24px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 4px;
  flex-basis: 200px;
  width: 250px;
  height: 300px;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  position: relative; }
  .gridItem:hover .projectHover {
    opacity: 1; }
  .gridItem:hover .projectTitle {
    opacity: 0; }

.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  padding-top: 18em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.2); }

.modalContent {
  position: relative;
  background: #f2f2f2;
  margin: auto;
  padding: 0;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s; }

@keyframes animatetop {
  from {

    opacity: 0; }
  to {

    opacity: 1; } }

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.modalSmallTitle {
  font-weight: bold;
  margin: 10px 0;
  margin-bottom: 14px; }

.modalHeader {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  background-color: #421c21;
  color: white; }

.modalBody {
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.modalFooter {
  padding: 8px 12px;
  background-color: #301418;
  color: white; }

.modal .web-design, .modal .game-design {
  color: white;
  padding: 2px;
  border-radius: 4px; }

.modal .web-design {
  background: #38757b; }

.modal .game-design {
  background: #5a005a; }

.modalLink {
  margin: 16px 0;
  padding: 4px;
  cursor: pointer;
  background: #021132;
  color: white;
  text-decoration: none;
  transition: all 0.3s; }
  .modalLink:hover {
    background: #042263; }
